body {
	border: 0;
	height: 60vh;
	background-size: cover;
	background-image: url('./images/LINEA.svg');
	background-repeat: no-repeat;
	background-position: left 80px;
}

.logo {
	width: auto;
	height: 20vh;
}

.icon {
	margin-right: 0.5em;
}

nav {
	background-color: transparent !important;
}
